  .person_data{
    display: grid;
    margin: 20px;;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
  
  .account_img{
    max-width: 150px;
    padding-left: 40px;
  }

  .description{
    padding: 0 30px;;
    font-size: 20px;
  }

  .description p{
    margin: 0;
  }

  .description{
    margin: 0;
  }

  .description p:first-child{
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
  }

  

